<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated choreography -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="robotnxt.presentation.RobotnxtModelWizardID"
            name="%_UI_RobotnxtModelWizard_label"
            class="robotnxt.presentation.RobotnxtModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RobotnxtModelFile.gif">
         <description>%_UI_RobotnxtModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated choreography -->
      <editor
            id="robotnxt.presentation.RobotnxtEditorID"
            name="%_UI_RobotnxtEditor_label"
            icon="icons/full/obj16/RobotnxtModelFile.gif"
            extensions="robotnxt"
            class="robotnxt.presentation.RobotnxtEditor"
            contributorClass="robotnxt.presentation.RobotnxtActionBarContributor">
      </editor>
   </extension>

</plugin>
